*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(48, 104, 153);
    padding: 1%;
}

.navigator{
   display: flex;
   justify-content: space-around;
   background-color: cadetblue;
   padding: 1%;
}

.navigator_icon{
    text-decoration: none;
    color: rgb(46, 84, 71);
    font-weight: 700;
    font-size: x-large;
}

.navigator_icon--cursive{
    font-style:italic;
}

.title{
    text-align: center;
    padding: 5%;
    background-color: rgb(120, 173, 173);
    line-height: 180%;
}

.title__h1{
    color: rgb(46, 84, 71);
    font-weight: 700;
    font-style:italic;  
}

.main{
    padding: 8%;
    background-color: antiquewhite;
    padding-left: 18%;

}


.fieldset{
    width: 80%;
    padding: 5%;   
}


.fieldset__div-1{
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

.fieldset__div-2{
    display: flex;
gap: 5%;
justify-content: center;
padding: 3%;}

.fieldset__div-2__span{
    display: flex;
    flex-direction: column;
    padding-left: 45%;
    align-self: center; 
}

.fieldset__div-3{
    display: flex;
    gap: 2% ;
    justify-content: center;
    padding: 3%;
    padding-bottom: 5%;
}

.fieldset__div-3__span{
    padding-left: 5%;
}


.fieldset__button{
    text-align: center;
    padding:1%;
    width: 15%;
    background-color: rgb(150, 184, 185);
    margin-left: 45%;
    border: none;
}  

.footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: rgb(120, 173, 173);
}

.label{

    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

/*
.label-2{
    display: flex;
    align-self:flex-end;
}*/




